body, li, td, th {
/*	font-family: Arial,Lucida,Helvetica,sans-serif;  */
	font-family: 'georgia', 'times new roman', serif;
	font-size: 9pt;
	background: white;
}

form {
	margin: 0pt;
	padding: 0pt;
}

H1,H2,H3,H4,H5,H6 {
/*	font-family: Arial,Lucida,Helvetica,sans-serif; */
	margin: 0pt;
	margin-bottom: 1em;
}

H1 {
	font-size: 20pt;
}

H2 {
	font-size: 16pt; 
/*	font-style: italic; */
}

H3 { 
	font-size: 12pt;
/*	font-style: italic; */
}

H4 {
	font-size: 10pt;
}

H5 {
	font-size: 9pt;
}

H6 {
	font-size: 9pt;
}

A {
	color: #006ee5;
}

A.wikiword {
	color: #000030;
	text-decoration: none;
	border-bottom: solid #dddddd 1px;
}

A.wikiword:hover {
	background: #eeeeee;
}

A.wikilink {
}

A.wikilink:hover {
	background: #eeeeee;
}

div.quote {
	margin-left: 1em;
	border-left: solid grey 2px;
	padding-left: 1em;
	color: #aa3311;
	font-size: 95%;
}

DIV.rightfloatbox {
	background: white;
	padding: 1em;
	margin-left: 1em;
	margin-bottom: 1em;
	border: solid black 1px;
/*	border-left: solid black 1px;
	border-bottom: solid black 1px; */
	float: right;
/*	text-align: right; */
}

.floatleft {
	float: left;
	margin-right: 1em;
}

.floatright {
	float: right;
	margin-left: 1em;
}

.clear {
	clear: both;
}

.title {
	padding-bottom: 1em;
	margin-bottom: 1em;
	border-bottom: solid #006ee5 1px;

	padding-top: 1em;
	border-top: solid #006ee5 1px;
}

.title h1 {
	margin-bottom: 0.4em;
}

.title h1 a {
	text-decoration: none;
}

.title .backlinks {
	float: right;
}

HR {
	border: none;
	border-top: solid black 2px;
}

PRE.enscript {
	background: #cccccc;
	padding-left: 2em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	padding-right: 2em;
}

DIV.pluginerror {
	background: red;
	color: white;
	padding: 0.25em;
	white-space: pre;
}

DIV.missingsublanguage {
	background: red;
	color: white;
	padding: 0.25em;
}

SPAN.missingspanhandler {
	background: red;
	color: white;
}

a.footnotelink {
	vertical-align: super;
	font-size: smaller;
	line-height: normal;
}

div.footnotes {
	border-top: solid grey 1px;
	padding-top: 1em;
}

div.footnote {
	padding-left: 2em;
	text-indent: -2em;
}

table {
   border-left: solid grey 1px;
   border-top: solid grey 1px;
}
td, th {
   border-right: solid grey 1px;
   border-bottom: solid grey 1px;
   padding: 0.5em;
}

.footer {
	border-top: solid #006ee5 1px;
	margin-top: 1em;
	padding-top: 1em;
}

.previewcontainer {
	border-top: solid #006ee5 3px;
	margin-top: 1em;
	padding-top: 1em;
}

#previewholder {
	height: 30em;
	overflow: auto;
	border: solid #006ee5 2px;
	padding: 0.5em;
}

/*---------------------------------------------------------------------------*/
/* TABLE OF CONTENTS */

div.toc {
	background: #eeeeee;
	border: solid black 1px;
	padding: 0.5em;
	margin: 1em;
}

div.toc h4 {
	color: #aa3311;
	margin: 0pt;
	margin-bottom: 1em;
}

div.toc A {
	color: #aa3311;
/*	font-family: Helvetica; */
}

div.toc ul {
	margin: 0pt;
}

div.diff div.body {
	margin: 0em;
	padding-left: 0.3em;
	padding-right: 0.3em;
}

div.diff .old {
}

div.diff .new {
}

div.diff .header {
	text-align: center;
}

div.diff .linenumber {
	text-align: center;
	border-bottom: solid black 1px;
	border-top: solid black 1px;
	margin-top: 1em;
}

div.diff .deletion {
	background-color: #ffcccc;
}

div.diff .insertion {
	background-color: #ccffcc;
}

div.diff .change {
	background-color: #ffffcc;
}

div.diff table { width: 100%; border: 0px; }
div.diff tr { vertical-align: top; }
div.diff td { width: 50%; padding: 0em; margin: 0em; border: 0px; }
div.diff th { padding: 0em; margin: 0em; border: 0px; }
div.diff th a { text-decoration: none; }

div.diff .linkprev { color: lightgrey; }
div.diff .linknext { color: lightgrey; }

div.ribbon_button_container { margin-top: 1em; }

/*---------------------------------------------------------------------------*/
/* ESSAYS */

div.essay_body {
	width: 590px;
	border-right: solid black 1px;
	padding-right: 10px;
	font-family: 'georgia', 'times new roman', serif;
}

div.sidebar {
	width: 190px;
	font-size: smaller;
	padding: 5px;
	position: absolute;
	left: 610px;
}
