<html>
  <head>
    <title>Pyle: $escape($page.title)</title>
    <link rel="stylesheet" type="text/css" href="$ctx.home/_/static/style.css"
	  title="Pyle Stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <div class="pagecontainer">
	$page.render('html')
      </div>
      <div class="footer">
	<div>
	  $internal_link($page.title, 'edit', 'Edit this page')
	  (version $escape($page.getmeta("version", "<unknown>")),
	  last modified $escape($page.getmeta("Date", "<unknown>"))#slurp
#set $modifier = $page.getmeta("Modifier", "")
#if $modifier != ''
          by $modifier)
#else
)
#end if
        </div>
#if $user.is_anonymous():
	<div>
	  You are not logged in.
	  #if $Config.user_creation_service
	  <a href="$ctx.home/_/settings">Click here to log in</a>, or
	  <a href="$Config.user_creation_service">here to create an account</a>.
	  #else
	  <a href="$ctx.home/_/settings">Click here to log in.</a>
	  #end if
	</div>
#else
	<div>
	  You are logged in as $user.username.
	  <a href="$ctx.home/_/settings">Click here to change your settings.</a>
	</div>
	<div>
	  <a href="$ctx.home/_/logout">Log out</a>
	</div>
#end if
      </div>
    </div>
  </body>
</html>