<html>
  <head>
    <title>Pyle: $escape($page.title)</title>
    #include "templates/common_html_headers.html"
  </head>
  <body>
    <div class="container">
      #include "templates/common_page_headers.html"
      <div class="pagecontainer">
	$page.render('html')
      </div>
      <div class="footer">
	<div>
#set $version = $page.getmeta("version", "")
#if $version
(version $escape($version),
#else
(#slurp
#end if
#set $mtime = $page.getmeta("Date", "")
last modified $escape($mtime)#slurp
#set $modifier = $page.getmeta("Modifier", "")
#if $modifier
 by $modifier)
#else
 by $Config.anonymous_user)
#end if
	</div>
	<div>
	  $internal_link($page.title, 'edit', 'Edit this page') |
	  #if $user.is_subscribed_to($page.title)
	  $internal_link($page.title, 'subscribe', 'Unsubscribe from this page')
	  #else
	  $internal_link($page.title, 'subscribe', 'Subscribe to this page')
	  #end if
        </div>
	#include "templates/common_page_footers.html"
      </div>
    </div>
  </body>
</html>