<html>
  <head>
    <title>Pyle: $escape($page.title)</title>
    <link rel="stylesheet" type="text/css" href="$ctx.home/_/static/style.css"
	  title="Pyle Stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <div class="pagecontainer">
	$page.render('html')
      </div>
      <div class="footer">
	$internal_link($page.title, 'edit', 'Edit this page')
	(version $escape($page.getmeta("version", "<unknown>")),
	last modified $escape($page.getmeta("Date", "<unknown>"))#slurp
#set $modifier = $page.getmeta("Modifier", "")
#if $modifier != ''
	by $modifier)
#else
)
#end if
      </div>
    </div>
  </body>
</html>