<html>
  <head>
    <title>Pyle: Edit $escape($page.title)</title>
    #include $skinfile("common_html_headers.html")
  </head>
  <body>
    <div class="container">
      <div class="title">
	#include $skinfile("common_page_headers.html")
	<h1>Edit $page.title</h1>
	<div class="clear"></div>
      </div>

      <form name="editform" method="post" action="$ctx.home/$page.title/save">
	<div class="editform">
	  <textarea name="body" cols="80" rows="25">$escape($page.body)</textarea>
	  <br />
	  <input type="Submit" name="save" value="Save" />
	</div>
      </form>
      #if $page.exists
      <p>
	$internal_link($page.title, vistext = 'Cancel changes made, and view this page as currently saved')
	<br />$internal_link($page.title, 'attach', vistext = 'Edit attachments for this page')
      </p>
      <p>
	$internal_link($page.title, service = 'delete', vistext = 'Delete this page')
      </p>
      #end if
      <div class="footer">
	#include $skinfile("common_page_footers.html")
      </div>
    </div>
  </body>
</html>