<div class="pylepage">
#def buildtoc($sections, $depth)
#if $sections
      <ul class="toc level$depth">
#for $section in $sections
        <li><a href="#$section.anchor">#echo '.'.join(map(str, $section.tocpath))# $section.title</a>$buildtoc($section.subsections, $depth + 1)</li>
#end for
      </ul>
#end if
#end def
#set global $hastoc = 0
#if $subsections
#set global $hastoc = 1
  <a name="section_toc"></a>
  <div class="toc">
    <h4 class="toctitle">Table of Contents</h4>
$buildtoc($subsections, 0)
  </div>
#endif
  <div class="body">
#for $item in $container_items
$item.render('html')
#end for
  </div>
#if $hastoc
  <p>
    <a href="#section_toc">Go to Table of Contents</a>
  </p>
#endif
</div>
